@font-face {
  font-family: "Barlow Condensed";
  src: url(/public/fonts/BarlowCondensed-Regular.ttf);
  font-family: "Bellefair-Regular";
  src: url(/public/fonts/Bellefair-Regular.ttf);
}

.home {
  margin: 150px 0;
  display: flex;
  justify-content: space-around;
  font-family: "Barlow Condensed";
  color: white;
}
.home .texts {
  width: 500px;
}
.home h5 {
  width: 100%;
  font-family: "Bellefair-Regular";
  color: rgb(208, 214, 249);
  letter-spacing: 3.75px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 100;
}
.home .space {
  font-family: "Bellefair-Regular";
  letter-spacing: 4.75px;
  font-size: 150px;
  font-weight: 100;
  color: white;
}
.home p {
  font-family: "Barlow Condensed";
  font-size: 20px;
  color: rgb(208, 214, 249);
}

.home .explore {
  cursor: pointer;
  margin-top: 100px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  color: black;
}
.home .explore:hover {
  transition: 0.3s ease-in-out;
  margin: 50px -50px 0 -50px;
  background-clip: padding-box;
  border: 50px solid rgba(156, 156, 156, 0.2);
}
